.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}

.emailRow:hover {
  border-top: 1px solid I whitesmoke;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__options {
  display: flex;
  align-items: center;
  font-size: 13 px;
}

.emailRow__title {
  font-size: 13px;
  flex: 0.2;
  min-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.emailRow__message {
  flex: 0.5;
  min-width: 100px;
}

.emailRow__message > h4 {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.emailRow__time {
  padding-right: 15 px;
  font-size: 9px;
  font-weight: bold;
  text-align: right;
  min-width: 100px;
  text-overflow: ellipsis;
  text-align: right;
  flex: 0.3;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}
